<!DOCTYPE html>
<html>
<head>
  <title>Simple Todo List</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id='banner'>
    <h2><%= @page_title || 'Simple Todo List' %></h2>
  </div>

  <div id='columns'>
    <div id='side'>
    </div>

    <div id='main'>
      <%= yield %>
    </div>
  </div>
</body>
</html>
